<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <p>By <%= blog.username %></p> <!-- Add the author's username here -->
    <div class="content">
      <p><%= blog.body %></p>
    </div>

    <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
      <button type="submit">
        <img src="/trashcan.svg" alt="Delete">
      </button>
    </form>
      
      <a href="/blogs/edit/<%= blog.id %>">
        <button type="button">Update</button>
      </a>
  </div>

  <%- include("./partials/footer.ejs") %>
<script>

</script>
</body>
</html>