<html lang="en"></html>
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <!-- <a class="delete" data-doc="<%= blog._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>   -->
      <!-- Nút để xóa blog -->
  <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
    <button type="submit"><img src="/trashcan.svg" alt="delete icon">
    </button>
  </form>
  </div>
  <a href="/blogs/edit/<%= blog.id %>">
    <button type="button">Update</button>
  </a>

  <%- include("./partials/footer.ejs") %>
<!-- <script>
  const trashcan = document.querySelector('.delete');
  trashcan.addEventListener('click', (e) => {
    const endpoint = `/blogs/${trashcan.dataset.doc}`; // biến endpoint chứa đường dẫn đến blog cần xóa
    fetch(endpoint, {
      method: 'DELETE'
    }) // gửi yêu cầu delete đến máy chủ
      .then(respond => respond.json()) // Khi server trả về phản hồi, nó được chuyển đổi thành JSON
      .then(data => window.location.href = data.redirect) // Khi dữ liệu được chuyển đổi, chúng ta chuyển hướng người dùng đến trang chính
      .catch(err => console.log(err));
  })
</script> -->
</body>
</html>